.links {
  position: relative;
  margin-bottom: 16px;
  padding: 10px;
  border: 1px solid black;
  color: rgb(247, 241, 241);
}

.menu {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate3d(0, 100%, 0);
  background: white;
  color: aliceblue;
  display: flex;
  flex-direction: column;
}
